.container {
    width: 20%;
}

.element {
    font-weight: 400;
    font-size: 14px;
    /*line-height: 243%;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.element a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 785px) {
    .container {
        display: none;
    }
}