:root {
    --dark-blue: #00093c;
    --orange: #f7941d;
    --blue: #27aae1;
    --white: #fff;
    --black: #000;

    --logo-light-theme: #00093C;
    --logo-dark-theme: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, button, textarea {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}
